<div style='text-align:center'>
<h1>Create New Profile</h1>
<%= form_for current_user do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.submit 'Create Profile' %>
  </div>
<% end %>
</div>
<style>
body {
  background-image: url('/assets/fb.webp');
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  background-position: center center;
  width: 100%;
  height: 100vh;
  margin: 0;
}
</style>
